.root {
  padding: var(--spacing);
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

.clickable:hover .avatar {
  box-shadow: 0 0 0.5rem var(--primary);
}

.name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.subtitle {
  opacity: 0.7;
}
