.root {
  padding: var(--spacing);
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

.clickable:hover .avatar {
  box-shadow: 0 0 0.5rem var(--primary);
}

.name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.subtitle {
  opacity: 0.7;
}

.skeleton {
  .avatar,
  .name,
  .name,
  .subtitle {
    border-radius: 10px;
    background: var(--gray);
    animation: pulse 1.5s infinite ease-in-out;
  }

  .avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .name {
    width: 130px;
  }

  .subtitle {
    width: 100px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
