.button {
  background: rgba(var(--black-rgb), 0.8);
  border-radius: 10px;
  color: var(--white);
  padding: var(--spacing);
  border: solid 1px var(--primary);
  line-height: 20px;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: var(--darkGray);
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.fullWidth {
  width: 100%;
}
