:root {
  --primary-rgb: 106, 73, 234;
  --primary: rgb(var(--primary-rgb));
  --primary-dark-rgb: 74, 41, 202;
  --primary-dark: rgb(var(--primary-dark-rgb));
  --white-rgb: 255, 255, 255;
  --white: rgb(var(--white-rgb));
  --offWhite-rgb: 234, 234, 234;
  --offWhite: rgb(var(--offWhite-rgb));
  --gray-rgb: 55, 55, 55;
  --gray: rgb(var(--gray-rgb));
  --darkGray-rgb: 34, 34, 34;
  --darkGray: rgb(var(--darkGray-rgb));
  --black-rgb: 19, 17, 25;
  --black: rgb(var(--black-rgb));

  --spacing: 8px;

  --borderRadius: var(--spacing);
}
