.root {
  background: var(--white);
  padding-block: calc(var(--spacing) * 2);
  position: sticky;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button {
  width: 100%;
  background: var(--primary);
  border-radius: 10px;
  color: var(--white);
  padding: var(--spacing);
  border: 0;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
}

@media (prefers-color-scheme: dark) {
  .root {
    background: var(--black);
    border-top: solid 1px var(--darkGray);
  }
}
