.root {
  padding-block: 1rem;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  .root {
    background: var(--black);
    border-bottom: solid 1px var(--darkGray);
  }
}
